-e .

celery==5.2.6
beautifulsoup4==4.10.0
pytest==7.1.1
pytest-mock==3.7.0
pytest-xdist==2.5.0
requests-mock==1.9.3
freezegun==1.2.1
flake8==4.0.1
flake8-bugbear==22.3.23
flake8-print==4.0.0
pytest-profiling==1.7.0
snakeviz==2.1.1
isort==5.10.1
