<?xml version="1.0" encoding="UTF-8"?>
<alert xmlns="urn:oasis:names:tc:emergency:cap:1.2">
  <identifier></identifier>
  <sender></sender>
  <sent></sent>
  <status></status>
  <msgType></msgType>
  <scope></scope>
  <info>
    <category></category>
    <event></event>
    <responseType></responseType>
    <urgency></urgency>
    <severity></severity>
    <certainty></certainty>
    <eventCode>
      <valueName></valueName>
      <value></value>
    </eventCode>
    <expires></expires>
    <senderName></senderName>
    <headline></headline>
    <description>{{ body }}</description>
    <instruction></instruction>
    <contact></contact>
    <area>
      <areaDesc></areaDesc>
      <polygon></polygon>
    </area>
  </info>
</alert>
