<style media="print">

  @page :first {
    @top-left-corner {
        content: 'NOTIFY';
        color: white;
        font-variant: normal;
        letter-spacing: 0px;
        font-feature-settings: "liga" 0;
        font-family: 'arial';
        font-size: 6pt;
    }
  }
</style>
